name: xdd
  
on:
  push:
    branches: 
      - main
  schedule:
    - cron: "10 */2 * * *"
  workflow_dispatch:
  
jobs:
  build:
    runs-on: Ubuntu-20.04  
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    
    - name: down
      run: |
        shopt -s extglob
        rm -rf !(README.md)
        shopt -u extglob
        git clone https://github.com/cdle/jd_study.git  ./jd_study
        cp -rf ./jd_study/xdd/* ./
        rm -rf ./jd_study
        CGO_ENABLED=0 GOOS=linux GOARCH=arm GOARM=7 go build -o xdd-armv7
        CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -o xdd-arm64
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o xdd-amd64
        CGO_ENABLED=1 GOOS=windows GOARCH=amd64 go build -o xdd-amd64.exe
    - name: 'Commit Files'
      id: commit
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git diff --quiet && git diff --staged --quiet || git commit -am 'update'
    - name: Push Dust
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.PAT }}
        branch: main

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v2

#     - name: Set up Go
#       uses: actions/setup-go@v2
#       with:
#         go-version: 1.16

#     - name: Build
#       run: |
#           shopt -s extglob
#           rm -rf !(README.md)
#           shopt -u extglob
#           git clone https://github.com/cdle/jd_study.git  ./jd_study
#           cp -rf ./jd_study/xdd/* ./
#           rm -rf ./jd_study
#           go get github.com/mitchellh/gox
#           gox -os "windows linux" -arch "amd64 arm arm64"
#           ls
#     - name: Upload binaries to release
#       uses: svenstaro/upload-release-action@v2
#       with:
#         repo_token: ${{ secrets.PAT }}
#         file: xdd_*
#         tag: ${{ github.ref }}
#         overwrite: true
#         file_glob: true

